

.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.header{
    background-image: url(../images/developer.png), url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left, bottom right ;
}
/* shared style */
.text-primary{
    color:#FD6E0A;
}
.dark-2{
    color:#474747;
}
.dark-3{
    color: #757575;
}
.btn-primary{
    font-size: 20px;
    font-weight: bold;
    background-color: #FD6E0A;
    border: none;
    border-radius: 5px;
    padding: 18px 35px;
    color: white;
}   
.bg-color{
    background-color: #FFF8F3;
    /* width: auto;
    height: 837px; */
}
.section-title{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
}
.section-description{
    font-size: 18px;
}
.text-center{
    text-align: center;
}

/* nav styles */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px;
}
.nav-title{
    font-size: 45px;
    font-weight: 800;
}
nav ul li{
    list-style: none;
    margin-right: 51px;
}
nav ul{
    display: flex;
    align-items: center;
}
nav li a{
    text-decoration: none;
    
    font-size: 20px;
}

/* header style */
.header-column{
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 200px;

}
.first-column{
    /* margin: 136px 163px 184px 200px; */
    max-width: 585px;
    width: 585px;
    margin-top: 50px;
}
.p1{
    font-size: 45px;
    font-weight: 600;
    margin-bottom: -50px;
}
.h2{
    font-size: 85px;
    font-weight: bold;
    margin-bottom: -0;
}
.description{
    font-size: 18px;
    width: 585px;
}
.img{
    width: 580px;
}
/* main */
main{
    max-width: 1140px;
    margin: 0 auto;
}
main section{
    margin-top: 130px;
    margin-bottom: 130px;
}
.about{
    padding: 130px 150px;
    border-radius: 10px;
    text-align: center;
    
}
.about-items{
    display: flex;
    justify-content: space-around;
}
.item-tittle{
    font-size: 20px;
    margin-bottom: -10px;
    
}
.item-description{
    font-size: 20px;
    font-weight: bold;
}

/* skills section */
.skill-container{
    display: flex;
    gap: 24px;
}
.skill{
    padding: 32px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
}